/*BEM methodology largely ignored in nav bar*/
.primary-nav {
  padding-top: 10px;

  ul {
    /*remove default margin & padding*/
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
  }

  a {
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
    padding: 12px 0;
  }

  li:last-child {
    padding-left: 0;
  }

  li:first-child {
    margin-left: 25px;
  }

  &--pull-left {
    float: left;
  }
}
